<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/static/css/leaflet.css" type="text/css" rel="stylesheet">
    <link href="/static/css/pwnpi.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/pwnpi.js"></script>
    <script src="/static/js/leaflet.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>